{% extends 'layout.html' %}

{%block content%}
  
  <main>
    <div class="wrapper">
      <h1>Das Planetarium Flensburg</h1>
      <img class="planetarium-about" src="/pictures/planetarium-hawaii.jpg" alt="Außenansicht des Planetariums" width="150"
        height="100" />
      <p>
        Das fiktive Planetarium Flensburg entstand im Rahmen einer
        Hausarbeit im Fach Frontend Design. Seitdem hat es mehrere tausend
        Besucher*innen angelockt und einige erfolgreiche Veranstaltungsreihen
        durchgeführt. Das spannende am Planetarium ist, dass es eigentlich gar nicht existiert,
        aber das ist ein Geheimnis, also behaltet es bitte für euch. Offiziell wurde unser Planetarium im Jahre
        1928 in Flensburg gegründet. Renommierte Astrom*innen wie Deike Karolin zur Fünffingerlinde-Franßen,
        Sabine von Arndt und Laurens Curd von der Edgarsen forschten und lehrten schon hier.
      </p>
    </div>
  </main>

  {%endblock%}