<!--Template für Content Management System (Admin-Bereich)-->

<!--
    TODO:
    - Daten in DB speichern
    - Errors-Element in Controller erstellen
-->

{% extends 'layout.html' %}

{%block content%}
<main>
    <div class="wrapper">
    <h1>CMS-Bereich</h1>
    <form action="#" method="POST" accept-charset="utf-8">
        <div>
        <fieldset>
            <legend>Veranstaltung anlegen</legend>
            <label for="title">Titel
                {% if errors.title %}<p class="Form-error">{{errors.title}}</p>{% endif %}
                <input type="text" name="title" id="title" value="" autofocus required>
            </label>
            <label for="description">Beschreibender Text
                {% if errors.description %}<p class="Form-error">{{errors.description}}</p>{% endif %}
                <input type="text" name="description" id="description" value="" autofocus required>
            </label>
            <label for="date">Datum
                {% if errors.date %}<p class="Form-error">{{errors.date}}</p>{% endif %}
                <input type="date" name="date" id="date" value="" autofocus required>
            </label>
            <label for="time">Uhrzeit
                {% if errors.time %}<p class="Form-error">{{errors.time}}</p>{% endif %}
                <input type="time" name="time" id="time" value="" autofocus required>
            </label>
            <label for="price">Preis
                {% if errors.price %}<p class="Form-error">{{errors.price}}</p>{% endif %}
                <input type="number" name="price" id="price" value="0,00" autofocus required>
            </label>
        </fieldset>
        <button type="submit" value="anlegen">Anlegen</button>
    </div>

        <!-- Veranstaltungen ändern -->
        <div>
        <fieldset>
            <select name="veranstaltungen" size="1" required>
              <option value="1">Das Weltall entdecken</option>
              <option value="2">Vom Big Bang zum Big Crunch</option>
              <option value="3">Pink Floyd Universe</option>
              <option value="4">Weltall: Wer kennts?</option>
              <option value="5">UFOs</option>
              <option value="6">Hörten Aliens unsere Music?</option>
            </select>
            <legend>Veranstaltung ändern</legend>
            <label for="title">Titel
                {% if errors.title %}<p class="Form-error">{{errors.title}}</p>{% endif %}
                <input type="text" name="title" id="title" value="" autofocus required>
            </label>
            <label for="description">Beschreibender Text
                {% if errors.description %}<p class="Form-error">{{errors.description}}</p>{% endif %}
                <input type="text" name="description" id="description" value="" autofocus required>
            </label>
            <label for="date">Datum
                {% if errors.date %}<p class="Form-error">{{errors.date}}</p>{% endif %}
                <input type="date" name="date" id="date" value="" autofocus required>
            </label>
            <label for="time">Uhrzeit
                {% if errors.time %}<p class="Form-error">{{errors.time}}</p>{% endif %}
                <input type="time" name="time" id="time" value="" autofocus required>
            </label>
            <label for="price">Preis
                {% if errors.price %}<p class="Form-error">{{errors.price}}</p>{% endif %}
                <input type="number" name="price" id="price" value="0,00" autofocus required>
            </label>
        </fieldset>
        <button type="submit" value="anlegen">Ändern</button>
    </div>
        <div>
        <fieldset>
            <legend>Veranstaltung löschen</legend>
            <select name="veranstaltungen" size="1" required>
                <option value="1">Das Weltall entdecken</option>
                <option value="2">Vom Big Bang zum Big Crunch</option>
                <option value="3">Pink Floyd Universe</option>
                <option value="4">Weltall: Wer kennts?</option>
                <option value="5">UFOs</option>
                <option value="6">Hörten Aliens unsere Music?</option>
              </select>
        </fieldset>
        <button type="submit" value="anlegen">Löschen</button>
    </div>
    </form>
</div>
</main>
{%endblock%}