<!--Template für Content Management System (Admin-Bereich)-->

<!--
    TODO:
    - Daten in DB speichern
    - Errors-Element in Controller erstellen

-->

{% extends 'layout.html' %}

{%block content%}
<main>
    <div class="wrapper">
        <h1>CMS-Bereich</h1>
        <div class="cmsIndex">
            <a href="/cms_create" class="btn">Veranstaltung anlegen</a>
            <a href="/cms_edit" class="btn">Veranstaltung ändern</a>
            <a href="/cms_delete" class="btn">Veranstaltung löschen</a>
        </div>
    </div>
</main>
{%endblock%}