{% extends 'layout.html' %}

{%block content%}
<main>
    <div class="wrapper">
        <h1>Veranstaltung ändern</h1>
        <form action="#" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
            <!-- Veranstaltungen ändern -->
            <!--
                TODO: Liste mit DB synchronisieren und immer alle Veranstaltungen im Dropdown anzeigen
            -->
            <fieldset>
                <select name="veranstaltungen" id="veranstaltungen" size="1" required>
                    {% for event in events %}
                    <option value="{{event.name}}">{{event.name}}</option>
                    {% endfor %}
                </select>
                <legend>Veranstaltung</legend>
                <label for="description">Beschreibender Text
                    {% if errors.description %}<p class="Form-error">{{errors.description}}</p>{% endif %}
                    <input type="text" name="description" id="description" value="" autofocus required>
                </label>
                <label for="date">Datum
                    {% if errors.date %}<p class="Form-error">{{errors.date}}</p>{% endif %}
                    <input type="date" name="date" id="date" value="" autofocus required>
                </label>
                <label for="time">Uhrzeit
                    {% if errors.time %}<p class="Form-error">{{errors.time}}</p>{% endif %}
                    <input type="time" name="time" id="time" value="" autofocus required>
                </label>
                <label for="price">Preis
                    {% if errors.price %}<p class="Form-error">{{errors.price}}</p>{% endif %}
                    <input type="number" step="0.01" name="price" id="price" value="0,00" autofocus required>
                </label>
                <label for="form_file">Bild Upload
                    {% if errors.img %}<p class="Form-error">{{errors.img}}</p>{% endif %}
                    <input type="file" name="upload" id="form_file" value="" accept="image/jpeg, image/png, image/jpg, image/tif, image/gif">
                </label>
            </fieldset>
            <button type="submit" name="btn-change" value="change">Ändern</button>
        </form>
    </div>
</main>
{%endblock%}