{% extends 'layout.html' %}

{%block content%}

    <main>
      <div class="wrapper">
        <h2>WWW-Programmierung auf Grundlage des Frontend Design SoSe 2022</h2>
        <h3>Frontend Design Sommersemester 2022</h3>
        <p>
          Im Folgenden kann ausgewählt werden, welche Dokumentation angesehen werden soll. Da sich beim WWW-Programmierung-Projekt
          auf die Arbeit im Modul Frontend-Design bezogen wird, kann auch noch diese Dokumentation eingesehen werden.
        </p>
        <dl>
          <dt>Module</dt>
          <dd>
            <a href="/module"
              >--> Hier geht es weiter zu den Modulen</a
            >
          </dd>
          <dt>Farben</dt>
          <dd>
            <a href="/_farben"
              >--> Hier geht es weiter zu den Farben</a
            >
          </dd>
          <dt>Zeitleiste</dt>
          <dd>
            <a href="/zeitleiste"
              >--> Hier geht es weiter zur Zeitleiste</a
            >
          </dd>
        </dl>
        <dl>
          <dt>Marc Freitag</dt>
          <dd>690708</dd>
          <dd>mafr9860</dd>
        </dl>
        <div>
          <a href="/dokumentation/www">Dokumentation WWW-Programmierung-Projekt</a>
          <a href="/dokumentation/fd">Dokumentation Frontend-Design-Projekt</a>
        </div>
      </div>
    </main>
    {%endblock%}