{% extends 'layout.html' %}

{%block content%}
    <main>
      <div class="wrapper">
        <h1>Kolophon</h1>
        <h2>Bildquellen:</h2>
        <h3>unsplash</h3>
        <ul class="liste">
          <li><a href="https://unsplash.com/photos/kvHhSroTNPY">astronaut</a></li>
          <li><a href="https://unsplash.com/photos/e5eDHbmHprg">astronaut-mond</a></li>
          <li><a href="https://unsplash.com/photos/hpt0AJPZ0Aw">footprint</a></li>
          <li><a href="https://unsplash.com/photos/WYkl8rqaVUQ">griffith-observatory</a></li>
          <li><a href="https://unsplash.com/photos/dmhv60RLmlw">jet-plane</a></li>
          <li><a href="https://unsplash.com/photos/78-lJJrG2lc">kennedy-space-center</a></li>
          <li><a href="https://unsplash.com/photos/cdjsw6sjwLY">komet</a></li>
          <li><a href="https://unsplash.com/photos/kGtFjYdm7DI">mars</a></li>
          <li><a href="https://unsplash.com/photos/y09UzJIgA-M">meteorschauer1</a></li>
          <li><a href="https://unsplash.com/photos/7NcIdCpur6o">meteorschauer2</a></li>
          <li><a href="https://unsplash.com/photos/cSm2a_-25YU">mond</a></li>
          <li><a href="https://unsplash.com/photos/UeSpvB0Qo88">mond-flagge</a></li>
          <li><a href="https://unsplash.com/photos/x6cY0k_VlXM">nasa</a></li>
          <li><a href="https://unsplash.com/photos/_ynyDGTzTKU">planetarium-hawaii</a></li>
          <li><a href="https://unsplash.com/photos/C-Vbyp6DscU">radioteleskop</a></li>
          <li><a href="https://unsplash.com/photos/tKs_2sBoqAg">rakete</a></li>
          <li><a href="https://unsplash.com/photos/VBNb52J8Trk">satellit</a></li>
          <li><a href="https://unsplash.com/photos/rQwVKB1Kndk">teleskop-schild</a></li>
        </ul>
        <h3>NASA</h3>
        <ul class="liste">
          <li><a href="https://www.nasa.gov/jpl/msl/pia19808/looking-up-at-mars-rover-curiosity-in-buckskin-selfie">curiosity</a></li>
          <li><a href="https://www.nasa.gov/image-feature/jpl/jupiter-s-racing-stripes">jupiter</a></li>
          <li><a href="https://www.nasa.gov/directorates/heo/scan/images/history/January2004.html">opportunity</a></li>
          <li><a href="https://www.nasa.gov/image-feature/jpl/perseverance-touches-down-on-mars">perseverance</a></li>
        </ul>

        <h3>feathericons.com</h3>
        <ul class="liste">
          <li><a href="https://feathericons.com/?query=star">star Icon</a></li>
          <li><a href="https://feathericons.com/?query=external-link">externer-link Icon</a></li>
        </ul>

        <h2>Fonts:</h2>
        <ul class="liste">
          <li>
            <a href="https://fonts.google.com/specimen/Barlow+Semi+Condensed?query=barlow">Barlow Semi Condensed</a>von Google Fonts, veröffentlicht unter der
            <a href="https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL">Open Font License</a>
          </li>
          <li>
            <a href="https://johndavidmaza.gumroad.com/l/Maragsa">Maragsa</a>von John David Maza, free for commercial use
          </li>
        </ul>
      </div>
    </main>
    {%endblock%}
