<!--TODO: Layout anpassen, Style in CSS Datei schreiben-->

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Layout</title>
</head>
<body>
    <header>
        <div class="logo">
          <a href="/"
            ><img
              src="/svg/logoweiss.svg"
              alt="Das Logo des Planetarium Flensburgs."
              title="Planetarium Flensburg"
          /></a>
        </div>
        <div class="title">
          <h1>Planetarium Flensburg</h1>
        </div>
        <nav class="navbar">
          <div class="icon">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </nav>
        <ul class="navbar-links" id="topNavbar">
          <li><a href="/" title="hier zur Startseite">Home</a></li>
          <li>
            <a
              href="/veranstaltungsreihe"
              title="hier zur Übersicht der Veranstaltungen"
              >Veranstaltungsreihe</a
            >
          </li>
          <li>
            <a href="/apod" title="hier zum NASA Picture of the Day">NASA-APOD</a>
          </li>
          <li>
            <a href="/tickets" title="hier Tickets kaufen">Tickets</a>
          </li>
          <li>
            <a
              href="/about"
              title="weitere Informationen über das Planetarium"
              >Über uns</a
            >
          </li>
        </ul>
      </header>
    {%block content%}
    {%endblock%}
    <footer>
      <ul>
        <li>
          <a href="/kolophon">Kolophon</a>
        </li>
        <li>
          <a href="/dokumentation">Dokumentation</a>
        </li>
        <li class="impressum">
          <a href="/impressum" title="Impressum">Impressum</a>
        </li>
        <li>
          <a href="/dsgvo" title="Datenschutzerklärung">DSGVO</a>
        </li>
      </ul>
      <p>&#169 Marc Freitag</p>
    </footer>
</body>
</html>