{% extends 'layout.html' %}

{%block content%}
  
  <main>
    <div class="wrapper">
        <form class="loginContainer" action="#" method="post">
            <fieldset>
                {% if errors.login %}<p class="Form-error">{{errors.login}}</p>{% endif %}
                <p><label for="username">Benutzername</label>
                <input type="text" name="username" id="username" required>
            </p>
                <p>
                <label for="username">Passwort</label>
                <input type="password" name="password" id="password" required>
                </p>
                <button type="submit">Login</button>
            </fieldset>
        </form>
    </div>
  </main>

  {%endblock%}