{% extends 'layout.html' %}

{%block content%}
    <main>
      <div class="wrapper">
        <h1>Überschrift H1</h1>
        <h2>Überschrift H2</h2>
        <!-- Artikel mit Text -->
        <article>
          <h3>Überschrift H3</h3>
          <p>
            Hier stehen wichtige Informationen zu unserem Projekt. Lest sie euch
            durch, dann seid ihr schlauer und erkennt, was wir alles so
            getrieben haben. Letztlich ist dies auch nur wieder ein Text, der
            Platz füllen soll. Dieser Text zeigt nur, wie ein längerer Text auf
            der Website aussehen könnte, darum macht dieser Text keinerlei Sinn
            und dient nur der optischen Gestaltung.
          </p>
        </article>
        <!-- Links -->
        <a
          href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          target="_blank"
          class="external-link"
          >Externer-Link: Klick mich und du wirst an einen magischen Ort
          geleitet</a
        >
        <a href="/html-pur/meteorschauer.html" class="external-link"
          >Link: Klick mich und du siehst noch mehr Content</a
        >
        <!--Listen-->
        <dl>
          <dt>Description List</dt>
          <dd>List-Element</dd>
          <dt>Ober-Element</dt>
          <dd>Unter-Element</dd>
        </dl>
        <ul class="liste">
          <li>Listen-Element</li>
          <li>Listen-Element</li>
          <li>Listen-Element</li>
        </ul>
        <!-- Button -->
        <button type="submit" value="Bestellen">Ein Effekt-Button</button>
        <a class="btn" type="submit">Ein normaler Button als Anchor-Tag</a>
   
       <h2>Beispiel-Kachel</h2>
        <ul class="fun-facts-container">
          <li>
            <div>
              <h2><b>Die Perseiden</b></h2>
              <img
                class="schild"
                src="/Bilder/teleskop-schild.jpg"
                alt="Schild beim Griffith-Observatorium"
              />
              <ul class="liste-blau">
                <li>Benannt nach ihrem Radiant, dem Sternbild Perseus.</li>
                <li><b>17. Juli - 24. August</b></li>
                <li>
                  Nächster Höhepunkt in Flensburg: In 2022 in der Nacht vom 12.
                  auf den 13. August
                </li>
                <li></li>
                <li><b>Herkunft</b>: Komet 109P/Swift-Tuttle</li>
                <li><b>ZHR</b>:110</li>
              </ul>
            </div>
          </li>
        </ul>
       
      <h2>Ticketshop</h2>
    <div class="bestellformular">
    <form action="https://www.inf.hs-flensburg.de/echo/" method="post" accept-charset="utf-8">
      <fieldset>
        <legend>Persönliche Daten</legend>
        <div><label>Vorname<input name="vorname" type="text" required></label></div>
        <div><label>Name<input name="name" type="text" required></label></div>
        <div><label>Straße<input name="street" type="text" required></label></div>
        <div><label>Postleitzahl<input name="postcode" type="text" required></label></div>
        <div><label>Stadt<input name="city" type="text" list="cities" required></label></div>
        <div><label>E-Mail<input name="mail" type="email" placeholder="foo@bar.de" required></label></div>
      </fieldset>
      <fieldset>
        <legend>Veranstaltung</legend>
        <select name="Veranstaltungen" size="1" required>
          <option value="empty">--------bitte wählen--------</option>
          <option value="Das Weltall entdecken">Das Weltall entdecken</option>
          <option value="Vom Big Bang zum Big Crunch">Vom Big Bang zum Big Crunch</option>
          <option value="Pink Floyd Universe">Pink Floyd Universe</option>
          <option value="Weltall: Wer kennts?">Weltall: Wer kennts?</option>
          <option value="UFOs">UFOs</option>
          <option value="Hörten Aliens unsere Music?">Hörten Aliens unsere Music?</option>
        </select>
      </fieldset>
      <fieldset>
        <legend>Veranstaltungsdatum</legend>
        <input name="date" type="datetime-local">
      </fieldset>
      <section>
        <label for="newsletter">Newsletter abonnieren</label>
        <input type="checkbox" id="newsletter" name="newsletter">
      </section>
      <button type="submit" value="Bestellen">Vorbestellen</button> 
    </form>
    </div>
  </div>
</main>
{%endblock%}
