{% extends 'layout.html' %}

{%block content%}
<div class="wrapper">   
    <section id="content">
        <div class="apod">
            <ul>
                <li><h2>NASA Picture of the Day</h2></li>
                <li><img src= {{url}} alt="Aktuelles Nasa Picture of the Day"></li>
            </ul>
            <ul>
                <li><h2>Original Beschreibung</h2></li>
                <li><p>{{explanation}}</p></li>
            </ul>
        </div>
    </section>
    <section id="comments">
        <div id="commentRespond">
            <h3>Kommentare</h3>
            {% for comment in comments %}
            <ul>
                <li><h4>{{comment.username}}</h4>
                <p>{{comment.comment}}</p>
                </li>
            </ul>
            {% endfor%}
            <h3>Kommentar verfassen</h3>
            <form action="#" method="POST" accept-charset="utf-8">
                <label for="comment_author">Dein Name</label>
                <input type="text" name="comment_author" id="comment_author" required tabindex="1">
                <label for="comment">Deine Nachricht</label>
                {% if errors.commentText %}<p class="Form-error">{{errors.commentText}}</p>{% endif %}
                <textarea name="comment" id="comment" cols="30" rows="10" tabindex="2" required></textarea>
                <input type="hidden" name="comment_ID" value="1" id="comment_ID" />
                <button type="submit" value="Abschicken">Abschicken</button>
            </form>
        </div>
    </section>
</div> 
{%endblock%}
