{% extends 'layout.html' %}

{%block content%}
  <main>
    <div class="wrapper">
    <h1>Das Weltall entdecken</h1>

    <p>In unserer neuesten Veranstaltungsreihe bekommst du allerlei spannende
      Informationen zu Themen des Weltalls</p>

    <ul class="contentCardContainer">
      <li>
        <a href="fun-facts.html"><img src="/pictures/satellit.jpg" alt="Veranstaltungen" /></a>
        <div>
          <h4><b>Fun-Facts</b></h4>
          <p>
            Bei der NASA gibt es nicht nur schwer verständliche Wissenschaft,
            sondern auch lustige Geschichten. Neugierig? Dann lies hier
            weiter.
          </p>
        </div>
      </li>
      <li>
        <a href="meteorschauer.html"><img src="/pictures/meteorschauer2.jpg" alt="Veranstaltungen" /></a>
        <div>
          <h4><b>Meteorschauer</b></h4>
          <p>
            Tolle Hintergrund-Informationen zu vergangenen und bevorstehenden
            Meteorströmen. So entgeht dir keine Sternschnuppennacht mehr.
          </p>
        </div>
      </li>

      <li>
        <a href="nasa-missionen.html"><img src="/pictures/jet-plane.jpg" alt="Veranstaltungen" /></a>
        <div>
          <h4><b>NASA-Missionen</b></h4>
          <p>
            Erfahre hier alles über die wichtigsten NASA-Missionen. Reise mit
            uns zum Mond oder Mars!
          </p>
        </div>
      </li>
    </ul>
  </div>
  </main>
{%endblock%}